$corner_radius: 5px;
$background: #f2f4f8;
$form_outline: 1px solid #dddddd;
$form_width: 320px;

$shout_gradient_stop: #f4eada;
$shout_background:  #f4dbaf;

@mixin rounded-top {
  $side: top;
  border-#{$side}-radius: $corner_radius;
  -moz-border-radius-#{$side}: $corner_radius;
  -webkit-border-#{$side}-radius: $corner_radius;
}

@mixin rounded-bottom {
  $side: bottom;
  border-#{$side}-radius: $corner_radius;
  -moz-border-radius-#{$side}: $corner_radius;
  -webkit-border-#{$side}-radius: $corner_radius;
}

.half {
  width: 48%;
  *zoom: 1;
  overflow: hidden;
  float: left;
  margin-left: 1%; 
  margin-right: 1%; 
}
 
.third {
  width: 31%;
  *zoom: 1;
  overflow: hidden;
  float: left;
  margin-left: 1%; 
  margin-right: 1%; 
}
 
.twothirds {
  width: 64%;
  *zoom: 1;
  overflow: hidden;
  float: left;
  margin-left: 1%; 
  margin-right: 1%; 
}
 
.fifth {
  width: 17%;
  float: left;
  *zoom: 1;
  overflow: hidden;
  float: left;
  margin-left: 1%; 
  margin-right: 1%; 
}
 
.last {
  margin-right: 0 !important; 
}
 
footer, meter, header, nav, aside, section, article {
  display: block;
  *zoom: 1;
  overflow: hidden; 
} 

 
body {
  background-color: $background;
  text-align: center;
  
  footer {
    width: 950px;
    clear: both;
    margin: 0 auto 20px auto;
    padding: 0;
    color: #444444;
  
    nav {
      float: right; 
      a, a:visited {
        color: #444444;
        margin-left: 30px;
        font-weight: bold; 
      }
    }
  }
  
  #header{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 950px; 
    #logo-area {
      border-left: 1px solid #b7dbe5;
      border-bottom: 1px solid #b7dbe5;
      border-right: 1px solid #b7dbe5;
      background-color: white;
      padding: 10px;
      float: left;
      width: 145px;
      margin: 0 20px 10px 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomrigth: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px; 
    }
    #title-area {
      width: 550px;
      padding: 10px;
      font-size: 28px;
      text-align: center;
      color: #444444;       
      float: left;
    }    
    #action-area {
      border-left: 1px solid #b7dbe5;
      border-bottom: 1px solid #b7dbe5;
      border-right: 1px solid #b7dbe5;
      background-color: white;
      padding: 10px;
      float: right;
      margin: 0px 0px 10px 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomrigth: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px; 
      ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li {
          float: left;
          margin-left: 10px;
          margin-right: 10px;
        }
      }      
    }
  }
  
  #container {
    margin: -10px auto 20px auto;
    width: 910px;
    padding: 20px;
    background-color: white;
    border: 1px solid #bbd4df;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    #who-is-it-for > h1 {
        padding-bottom: 20px;
        font-size: 40px;
        text-align: center;
        color: #444444; 
    }  
          
  }

  form {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    *zoom: 1;
    overflow: hidden;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: $shout_background;
    background: $shout_background -moz-linear-gradient($shout_gradient_stop, $shout_background);
    background: $shout_background -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, $shout_gradient_stop), color-stop(1, $shout_background));
    padding: 20px;
    border: 1px solid $shout_background;
    text-align: left;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 2; 
    #link-bar {
      a {
        float: left;
        margin-left: 10px;
        margin-right: 10px;      
      }
    }      
  }
  
  .cta {
    border: 1px solid #95b82b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 3px 3px 0.4 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 3px 0.4 rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px 0.4 rgba(0, 0, 0, 0.5);
    background: $shout_background;
    background: $shout_background -moz-linear-gradient($shout_gradient_stop, $shout_background);
    background: $shout_background -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, $shout_gradient_stop), color-stop(1, $shout_background));
    padding: 20px;
    margin: 20px auto;
    display: table;
    font-family: CoolveticaRg-Regular, Helvetica-Bold, Arial-Bold; 
  }  

  .shout {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    *zoom: 1;
    overflow: hidden;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: $shout_background;
    background: $shout_background -moz-linear-gradient($shout_gradient_stop, $shout_background);
    background: $shout_background -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, $shout_gradient_stop), color-stop(1, $shout_background));
    padding: 20px;
    border: 1px solid $shout_background;
    text-align: center;
    width: 910px;
    margin: 0 auto;
    position: relative;
    z-index: 2; 
  }

  
 }

#header {
  padding: 0;
  *zoom: 1;
  overflow: hidden;
  #logo_area {
    border-left: 1px solid #b7dbe5;
    border-bottom: 1px solid #b7dbe5;
    border-right: 1px solid #b7dbe5;
    background-color: white;
    padding: 10px;
    float: left;
    width: 135px;
    margin: 0 20px 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomrigth: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; }
  h1 {
    margin-top: 1.25em;
    float: left;
    font-family: HelveticaNeue-Regular, Helvetica, Arial, sans-serif !important; }
  #user_bar {
    float: left;
    margin-left: 50px;
    ul {
      padding: 33px 0 0 0;
      li {
        float: left;
        margin: 6px 0 0 10px;
        list-style: none;
        .tab {
          border-top-left-radius: 10px;
          -moz-border-radius-topleft: 10px;
          -webkit-border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          -moz-border-radius-topright: 10px;
          -webkit-border-top-right-radius: 10px;
          padding: 10px;
          border: 1px solid #819ab0;
          background: #819ab0 url(/images/button_overlay.png) repeat-x; 
          a {
            color: white;
            font-family: CoolveticaRg-Regular, Helvetica-Bold, Arial-Bold;
            font-size: 16px;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
            text-decoration: none; 
            }
          :hover {
            background-color: #3d5870; 
            }
          .record-feelings {
            background: #f96d0f url(/images/button_overlay.png) repeat-x;
            border-top: 1px solid #f96d0f;
            border-left: 1px solid #f96d0f;
            border-right: 1px solid #f96d0f;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); 
            :hover {
              background-color: #f9a90f;
              border-top: 1px solid #f96d0f;
              border-left: 1px solid #f96d0f;
              border-right: 1px solid #f96d0f; 
            }
          }
        }
      }
    }
  }
}
            

.field label{
	font-family: helvetica;
	font-weight: bold;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
  border: 1px solid b20909;
  label {
  	color: #b20909;
  }  
  .input-area {
    border: 1px solid b20909;
  }
}


#error_explanation {
  border: 1px solid #b20909;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #ffb3b5;
  color: #222;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul{
  hmenu {
    list-style: none;	
    margin: 0 0 2em;
    padding: 0;
    li {
      display: inline;  
    }
  }
}

p.notice {
  color: green;
}

p.alert {
  color: red;  
}
